* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1152px;
  width: 80%;
  margin-inline: auto;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover {
  transform: scale(1.5);
  font-weight: bold;
}
#header {
  padding-block: 30px;
}
.header {
  display: flex;
  justify-content: end;
}
.header-text {
  display: flex;
  gap: 30px;
}
#section {
  padding-block: 50px;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-img img {
  box-shadow: 0px 8px 10px 0px #bbe1faab;
  border-radius: 50%;
}
.section-text h1 {
  width: 500px;
  height: 100px;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}
.section-text p {
  width: 490px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  padding-block: 40px;
}
.section-text button {
  width: 230px;
  height: 47px;
  border-radius: 2px;
  color: white;
  background: #ff6464;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
.section-text button:hover {
  background: #56ff43;
  color: rgb(158, 56, 179);
  box-shadow: 0px 0px 88px -8px #1d2830;
  transform: scale(1.1);
  transition: 1s;
}

#none {
  background: #edf7fa;
  padding-block: 40px;
}
.none {
  display: flex;
  flex-direction: column;
}
.block {
  display: flex;
  gap: 20px;
}
.none-n {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.none-box {
  background: white;
  height: 190px;
  border-radius: 4px;
  padding: 20px 20px;
}
.none-box h1 {
  /* width: 374px; */
  height: 85px;
  line-height: 38px;
}
.none-box p {
  /* width: 368px; */
  line-height: 23px;
  font-weight: 400;
  font-size: 16px;
}
#works {
  padding-block: 30px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.box {
  padding-block: 30px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: start;
  align-items: start;
  /* margin: 20px; */
  gap: 30px;
}
.btb {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btb p {
  width: 242px;
}
.box-text {
  display: flex;
  flex-direction: column;
}
.box button {
  color: #fff;
  border: none;
  padding: 7px;
  border-radius: 20px;
  background: #142850;
}
#footer {
  padding: 40px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon ion-icon {
  width: 40px;
  font-weight: 800;
  font-size: 30px;
}
